<script type='text/javascript'>

function Gohere() {
var URL = document.form.site.options[document.form.site.selectedIndex].value;
window.location.href = URL;
}
document.write('<form name="form">');
document.write('<select name="site" size=1>');
document.write('<option value="kaputi.html">Kaputi</option>');
document.write('<option value="pantalone.html">Pantalone</option>');
document.write('<option value="cipele.html">Cipele</option>');
document.write('</select>');
document.write('<input type=button value="Go" onClick="javascript:Gohere()">')
document.write('</form>');
</script>